#cabecalho {
	background-color: #6175f0;
	background-position: top left;
}

.destacado {
	background-color: #c4caf3;
	color: #004a79;
	padding-right: 1500px;
	width: 400px;
}

#hoje {     
	background-color: #f8cef7;     
	border-color: #ff56fb;     
	border-style: solid;     
	border-width: 1px;     
	float: right;     
	margin-right: 25px;
	margin-top: -30px;     
	padding: 20px 35px 30px 35px;     
	text-align: center;
	width: 405px; 
}

h1 {
	color: white;
	font-family: "Kaushan Script", cursive;
	font-size: 36px;
	padding-top: 20px;
	padding-left: 34px;
}

#h2-1 {
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	padding-bottom: 13px;
	padding-left: 34px;
}


#h2-2 {
	padding-top: 40px;
}

#h2-3 {
	color: black;
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
}

#h3-1 {
	font-family: "Times", Georgia, Serif;
	font-size: 18px;
}

#img-1 {
	float: left;
	padding-right: 13px;
	width: 17%;
}

#img-2 {
	width: 30%;
}
	
#musica {
	margin-left: 12px;
	margin-top: 50px;	
	width: 400px;
}

p {
	font-family: "Arial";
	font-size: 14px;
}

#p-1 {
	margin-left: 34px;
}

#verdade {

}