h1 {
	color: white;
	font-family: "Kaushan Script";
	font-size: 36px;
	padding-top: 20px;
	padding-left: 34px;
}

h2[ID="1"] {
	color: white;
	font-family: "Times New Roman";
	font-size: 24px;
	padding-bottom: 13px;
	padding-left: 34px;
}

h2[ID="2"] {
	clear: left;
}

img[ID="1"] {
	float: left;
}

p[ID="1"] {
	margin-left: 34px;
}

#cabecalho {
	background-color: #6175f0;
}

#hoje {
	float: right;
	margin-right: 25px;
	width: 405px;
}

#musica {
	margin-left: 12px;
	width: 400px;
}